
/**
 * Breakpoints & Media Queries
 */
 $break-huge: 1440px;
 $break-wide: 1280px;
 $break-xlarge: 1080px;
 $break-large: 960px;
 $break-medium: 782px;
 $break-small: 600px;
 $break-mobile: 480px;


 .gallery-container {
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 box-sizing: border-box;

	 .gallery-item {
		 position: relative;

		 &:active,
		 &:focus {
			 outline: none;
		 }

		 img.gallery-img {
			 transition: all 500ms;

			 &.gallery-img-prod {
				 opacity: 0;
				 transform: scale(0);
			 }

			 &.loaded {
				 &.gallery-img-prod {
					 opacity: 1;
					 transform: scale(1);
				 }
			 }

			 &:active,
			 &:focus {
				 outline: none;
			 }
		 }

		 figcaption {
			 display: table;
			 box-sizing: border-box;
			 position: absolute;
			 bottom: 0;
			 width: 100%;
			 max-height: 100%;
			 overflow: auto;
			 padding: 40px 10px 5px;
			 color: white;
			 text-align: center;
			 font-size: 0.8em;
			 background: linear-gradient(
				 0deg,
				 rgba($color: black, $alpha: 0.7) 0,
				 rgba($color: black, $alpha: 0.3) 60%,
				 transparent
			 );
			 img { display: inline; }
		 }
	 }
 }



 figure.gallery-item  {
	 display: block;
	 margin-block-start: 0;
	 margin-block-end: 0;
	 margin-inline-start: 0;
	 margin-inline-end: 0;
	 line-height: 0;
 }


 @media (min-width: 601px) {


	 /*
		 layout-type-${ layoutType }
		 layout-row-dim-${ layoutRowDim }
		 layout-column-dim-${ layoutColumnDim }
		 layout-grid-dim-${ layoutGridDim }

		 image-crop`]: imageCrop,
		 image-shape-type-${ imageShapeType }
		 image-shape-value

		 gallery-padding-${ galleryPadding }
		 gallery-padding-mobile-${ galleryPaddingMobile }
		 no-gutter
		 no-gutter-mobile
		 gutter-${ gutter }
		 gutter-mobile-${ gutterMobile }
		 */

	.gallery-container {


		// Stack layout
		&.layout-type-stack {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;

			.gallery-item {
				width: 100%;
				img.gallery-img {
					width: 100%;
					height: auto;
					max-width: 300px;
					max-height: 300px;
					min-width: 100px;
					min-height: 100px;
				}
			}

			// Gutter
			@for $i from 1 through 20 {
				&.gutter-#{ $i * 5 } {
					.gallery-item:not(:last-child) {
						margin-bottom: #{ round($i * 5) }px;
					}
				}
			}
		}

		// Row layout
		&.layout-type-row {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-content: center;
			align-items: center;
			justify-content: center;

			.gallery-item {
				img.gallery-img {
					width: auto;
					height: 100%;
				}
			}

			// Row height
			@for $i from 20 through 60 {
				&.layout-row-dim-#{ $i * 5 } {
					.gallery-item  {
						height: #{ round($i * 5) }px;
					}
				}
			}

			// Gutter
			@for $i from 1 through 20 {
				&.gutter-#{ $i * 5 } {
					.gallery-item {
						margin: #{ round($i * 5 / 2) }px;
					}
				}
			}

			&.no-gutter .gallery-item {
				margin: 0;
			}
		}

		// Column layout
		&.layout-type-column {
			display: inline-block;

			.gallery-item {
				break-inside: avoid-column;

				img.gallery-img {
					width: 100%;
					height: auto
				}
			}

			// Column width
			@for $i from 20 through 60 {
				&.layout-column-dim-#{ $i * 5 }   {
					columns: #{ round($i * 5) }px;

					.gallery-item {
						// max-width: #{ round($i * 5) }px
					}
				}
			}

			// Gutter
			@for $i from 1 through 20 {
				&.gutter-#{ $i * 5 } {
					column-gap: #{ $i * 5 }px;

					.gallery-item {
						margin-bottom: #{ round($i * 5) }px;
					}
				}
			}
			&.no-gutter {
				column-gap: 0;

				.gallery-item {
					margin: 0;
				}
			}
		}

		// Grid layout
		// custom clip path => http://bennettfeely.com/clippy/
		&.layout-type-grid {
			display: grid;
			justify-content: center;

			.gallery-item {
				display: flex;
				align-items: center;
				margin: 0 auto;
			}


			// Grid height/width items
			@for $i from 20 through 60 {
				$size: #{ round($i * 5) }px;

				&.layout-grid-dim-#{ $i * 5 } {
					grid-template-columns: repeat(auto-fit, minmax(#{$size}, #{$size}));
					grid-template-rows: repeat(auto-fit, minmax(#{$size}, #{$size}));

					.gallery-item {
						img.gallery-img {
							// width: $size;
							max-width: $size;
							// height: $size;
							max-height: $size;
						}
					}
				}
			}

			// Gutter
			@for $i from 1 through 20 {
				&.gutter-#{ $i * 5 } {
					grid-gap: #{ $i * 5 }px;
				}
			}
		}

		// Crop image
		&.image-crop {

			.gallery-item {
				overflow: hidden;
				img.gallery-img {
					object-fit: cover;
				}
			}

			@for $i from 20 through 60 {
				$size: #{ round($i * 5) }px;

				&.layout-stack-dim-#{ $i * 5 },
				&.layout-row-dim-#{ $i * 5 },
				&.layout-column-dim-#{ $i * 5 },
				&.layout-grid-dim-#{ $i * 5 } {

					.gallery-item {
						img.gallery-img {
							width: $size;
							height: $size;
							min-width: $size;
							min-height: $size;
							max-width: $size;
							max-height: $size;
						}
					}
				}
			}
		}


		// Layout items shapes
		&.image-shape-type-square {
			.gallery-item {
				img.gallery-img {
				}
			}
		}
		&.image-shape-type-rhombus {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				}
			}
		}
		&.image-shape-type-triangle {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				}
			}
		}

		&.image-shape-type-circle {
			.gallery-item {
				img.gallery-img {
					clip-path: circle(50% at 50% 50%);
				}
			}
		}
		&.image-shape-type-pentagon {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
				}
			}
		}
		&.image-shape-type-hexagon {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				}
			}
		}
		&.image-shape-type-octagon {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
				}
			}
		}
		&.image-shape-type-rablet {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
				}
			}
		}
		&.image-shape-type-star {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
				}
			}
		}
		&.image-shape-type-cross {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
				}
			}
		}
		&.image-shape-type-frame {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
				}
			}
		}

		&.image-shape-type-stupid {
			.gallery-item {
				img.gallery-img {
					clip-path: polygon(3% 14%, 49% 65%, 22% 0, 70% 5%, 56% 73%, 100% 41%, 41% 27%, 99% 68%, 16% 83%, 62% 88%, 53% 53%, 22% 49%, 77% 93%, 51% 0, 1% 73%, 100% 0, 31% 100%);
				}
			}
		}



		&.image-shape-type-custom {
			.gallery-item {
				img.gallery-img {
				}
			}
		}


	}






	 .layout-grid {





	 }



	 // Gallery padding
	 @for $i from 1 through 20 {
		 .gallery-padding-#{ $i * 5 } {
			 padding: #{ round($i * 5) }px;
		 }
	 }

 }


 // For desktop.
 @media (max-width: 600px) {

	.gallery-container.layout-type-stack,
	.gallery-container.layout-type-row,
	.gallery-container.layout-type-column,
	.gallery-container.layout-type-grid {
		 .gallery-item {
			 width: 100%;
			 height: auto;

			 img.gallery-img {
				 width: 100%;
				 height: auto;
			 }
		 }
	 }

	 @for $i from 1 through 10 {
		 .gutter-mobile-#{ $i * 5 } {
			 .gallery-item {
				 margin-top: #{ round($i * 5 / 2) }px;
				 margin-bottom: #{ round($i * 5 / 2) }px;
			 }
		 }
		 .gallery-padding-mobile-#{ $i * 5 } {
			 padding: #{ round($i * 5) }px;
		 }
	 }

	 .no-gutter-mobile {
		 .gallery-item {
			 margin: 0px;
		 }
	 }
 }







.layout-column {
	.gallery-item {
		break-inside: avoid-column;
	}

	// Column count
	@for $i from 30 through 60 {
		&.layout-column-max-width-#{ $i * 5 } {
			columns: #{ round($i * 5) }px;
		}
	}

	// Gutter
	@for $i from 1 through 20 {
		&.gutter-#{ $i * 5 } {
			column-gap: #{ $i * 5 }px;

			.gallery-item {
				margin-bottom: #{ round($i * 5) }px;
			}
		}
	}

	&.no-gutter {
		column-gap: 0;
		.gallery-item {
			margin: 0;
		}
	}
	}
