/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

.galleryItem {
    margin-bottom: 20px;
}

.galleryWrapper {
    max-width: 1400px;
    margin: 0 auto !important;
}